body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


header {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    font-size: medium;
}

img[data-testid="slackProfilePicture"] {
    width: 150px;
    height: 150px;
    align-self: center;
}

section {
    padding: 20px;
    background-color: #fff;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a, p[data-testid="slackEmail"] {
    display: inline-flexbox;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #e7d9d9;
    padding: 5px 10px;
    border-radius: 1px;
}

nav a {
    background-color: #f4f4f4;
    margin: 0 5px;
}

nav a:hover, p[data-testid="slackEmail"]:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    img[data-testid="slackProfilePicture"] {
        width: 100px;
        height: 100px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
